<html>

<head>
  <title>OutlineForm Plugin Test</title>
</head>

<body>

<h1>Form Test</h1>

{form name="test"}
  <table>
    <tr>
      <th>E-mail address:</th>
      <td>{form:text name="email"}</td>
    </tr>
    <tr>
      <th>Password:</th>
      <td>{form:password name="password"}</td>
    </tr>
    <tr>
      <th>Password:</th>
      <td>{form:password:repeat name="password"}</td>
    </tr>
    <tr>
      <td colspan="2" align="right">
        {form:submit value="Login"}
      </td>
    </tr>
  </table>
{/form}

</body>

</html>
